.ThemeA {
  /* regular */
  --button-regular-bgcolor: #fff;
  --button-regular-color: #363636;
  --button-regular-border-color: #dbdbdb;
  /* primary */
  --button-primary-bgcolor: #00d1b2;
  --button-primary-color: #fff;
  --button-primary-border-color: transparent;
  /* warning */
  --button-warning-bgcolor: #ffe08a;
  --button-warning-color: rgba(0, 0, 0, 0.7);
  --button-warning-border-color: transparent;
  /* danger */
  --button-danger-bgcolor: #f14668;
  --button-danger-color: #fff;
  --button-danger-border-color: transparent;
}

.ThemeB {
  /* regular */
  --button-regular-bgcolor: #fff;
  --button-regular-color: #363636;
  --button-regular-border-color: #dbdbdb;
  /* primary */
  --button-primary-bgcolor: #cdeac0;
  --button-primary-color: #444;
  --button-primary-border-color: transparent;
  /* warning */
  --button-warning-bgcolor: #ffac81;
  --button-warning-color: #333;
  --button-warning-border-color: transparent;
  /* danger */
  --button-danger-bgcolor: #ff928b;
  --button-danger-color: #fff;
  --button-danger-border-color: transparent;
}

.ThemeC {
  /* regular */
  --button-regular-bgcolor: #fff;
  --button-regular-color: #363636;
  --button-regular-border-color: #dbdbdb;
  /* primary */
  --button-primary-bgcolor: #247ba0;
  --button-primary-color: #fff;
  --button-primary-border-color: transparent;
  /* warning */
  --button-warning-bgcolor: #ffe066;
  --button-warning-color: rgba(0, 0, 0, 0.7);
  --button-warning-border-color: transparent;
  /* danger */
  --button-danger-bgcolor: #f25f5c;
  --button-danger-color: #fff;
  --button-danger-border-color: transparent;
}
