.ThemeA {
  /* regular */
  --regular-bg-color: #fff;
  --regular-color: #363636;
  --regular-border-color: #dbdbdb;

  /* primary */
  --primary-bg-color: #00d1b2;
  --primary-color: #fff;
  --primary-border-color: transparent;
}

.ThemeB {
  /* regular */
  --regular-bg-color: #fff;
  --regular-color: #363636;
  --regular-border-color: #dbdbdb;

  /* primary */
  --primary-bg-color: #247ba0;
  --primary-color: #fff;
  --primary-border-color: transparent;
}
