.base {
  border: 1px solid #dbdbdb;
  cursor: pointer;
  padding: 7px 16px;
  border-radius: 6px;
  font-size: 16px;
  vertical-align: top;
  line-height: 24px;
  transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.regular {
  background-color: var(--button-regular-bgcolor);
  color: var(--button-regular-color);
  border: 1px solid var(--button-regular-border-color);
}

.primary {
  background-color: var(--button-primary-bgcolor);
  color: var(--button-primary-color);
  border: 1px solid var(--button-primary-border-color);
}

.warning {
  background-color: var(--button-warning-bgcolor);
  color: var(--button-warning-color);
  border: 1px solid var(--button-warning-border-color);
}

.danger {
  background-color: var(--button-danger-bgcolor);
  color: var(--button-danger-color);
  border: 1px solid var(--button-danger-border-color);
}
