.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AppTheme {
  color: var(--theme-color);
  background-color: var(--theme-bgcolor);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-out;
}
